<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Events</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>List of Events</h1>
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Host</th>
                </tr>
            </thead>
            <tbody>
                <% events.forEach(event => { %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.date %></td>
                        <td><%= event.location %></td>
                        <td><%= event.description %></td>
                        <td><%= event.host %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/events/add" class="button">Add New Event</a>
        <a class="back-button" href="/">Back</a>
    </div>
</body>
</html>
